@import './variables';

.NavBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0rem;
    img{
        height: 2rem;
    }
    .settings{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // stuff to be done here
        .dropdown{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 4.5rem;
            height: 1.5rem;
            select {
                -webkit-appearance:none;
                -moz-appearance:none;
                -ms-appearance:none;
                appearance:none;

                outline:0;
                box-shadow:none;
                border: 1px solid transparent;
                outline: 1px solid transparent;
                background: transparent;
                padding: 0 1rem 0 0;
                color: #2D2D2D;
                cursor:pointer;
                font-style: normal;
                font-weight: 700;
                font-size: 0.875rem;
                line-height: 1.5rem;
                padding-left: 1rem;
                option{
                    background-color: white;
                    border: 1px solid transparent;
                    outline: none;
                    cursor: pointer;
                    font-weight: 700;
                 }
                .sans{
                    font-family: Arial, Helvetica, sans-serif;
                }
                .serif{
                    font-family: 'Times New Roman', Times, serif;
                }
                .mono{
                    font-family: 'Courier New', Courier, monospace;
                }
             }
             select::-ms-expand {
                display: none;
             }
             // darkmode
             .selectDark{
                color: white;
                option{
                    color: #2D2D2D;
                }
             } 
        }
        .dropdown::after {
            content: '\25BC';
            position: absolute;
            top: 0;
            right: 0;
            font-size: 0.85rem;
            height: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor:pointer;
            pointer-events:none;
            transition:.25s all ease;
         }
         .dropdown:hover::after {
            color: $purple;
         }
        .separator{
            width:  0.0625rem;
            height: 2rem;
            background-color: #E9E9E9;
            margin: 0 1rem;
        }
        .theme-design{
            .switch{
                width: 2.5rem;
                height: 1.25rem;
                position: relative;
                display: inline-block;
                input{
                    opacity: 0;
                    width: 0;
                    height: 0;
                }
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: $dark-grey;
                    -webkit-transition: .4s;
                    transition: .4s;
                }
                .slider:before {
                    position: absolute;
                    content: "";
                    height: 0.875rem;
                    width: 0.875rem;
                    left: 0.1875rem;
                    bottom: 0.1875rem;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                }
                input:checked + .slider {
                    background-color: $purple;
                }
                input:focus + .slider {
                    box-shadow: 0 0 1px $purple;
                }
                input:checked + .slider:before {
                    -webkit-transform: translateX(1.3125rem);
                    -ms-transform: translateX(1.3125rem);
                    transform: translateX(1.3125rem);
                }
                // Rounded Sliders
                .slider.round {
                    border-radius: 2.125rem;
                  }
                  
                  .slider.round:before {
                    border-radius: 50%;
                  }
            }
            img{
                height: 1.25rem;
                margin-left: 0.75rem;
            }
        }
    }
}

// dark mode

.MoonIconDark{
    filter: brightness(0) saturate(100%) invert(33%) sepia(28%) saturate(4753%) hue-rotate(256deg) brightness(95%) contrast(95%);
}

// if dark mode is off, we refill the svg
.MoonIcon{
    filter: brightness(0) saturate(100%) invert(48%) sepia(0%) saturate(1205%) hue-rotate(197deg) brightness(94%) contrast(87%);
}