@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1.5rem;
  font-family: 'Inconsolata';
  color: #2D2D2D;
}

.Dark{
  background: black;
  color: white;
}

.sans{
  font-family: Arial, Helvetica, sans-serif;
}

.serif{
  font-family: 'Times New Roman', Times, serif;
}

.mono{
  font-family: 'Courier New', Courier, monospace;
}

/* Tablet version */
@media screen and (min-width: 768px){
  .App{
    max-width: 43.0625rem;
  }
}

/* Desktop version */
@media screen and (min-width: 1440px){
  .App{
    max-width: 46.0625rem;
  }
}