*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dark Mode*/

body:has(.Dark){
  background-color: black;
}

